
<div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="https://github.com/TakeshiTseng" class="item">Github</a>
                        <a href="https://tw.linkedin.com/in/yitseng" class="item">LinkedIn</a>
                        <a href="https://www.facebook.com/w2cnlab" class="item">W2CN Lab</a>
                        <a href="mailto:a86487817@me.com" class="item">Contact Me</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Powered by</h4>
                    <div class="ui inverted link list">
                        <a href="http://fireapp.kkbox.com/" class="item">Fire.app</a>
                        <a href="https://pages.github.com/" class="item">Github pages</a>
                        <a href="http://semantic-ui.com" class="item">Semantic UI</a>
                        <a href="https://cdnjs.com/" class="item">CDNjs</a>
                        <a href="https://css.hanzi.co/" class="item">漢字標準格式</a>
                        
                        
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">License</h4>
                    <p>MIT</p>
                </div>
            </div>
        </div>
    </div>