<div class="ui fixed inverted menu" id="horizontal-menu">
    <div class="ui container">
        <a href="/" class="header item">
            Takeshi's Blog
        </a>
        <a id="hori-item-toc" class="item">≡</a>
        <a id="hori-item" class="item" href="/article">Article</a>
        <a id="hori-item" class="item" href="/about.html">About</a>
        <a id="hori-item" class="item" href="/cv.pdf">CV</a>
    </div>
</div>

<div class="ui sidebar inverted vertical menu" id="vertical-menu">
    <div class="ui container">
        <a href="/" class="header item">
            Takeshi's Blog
        </a>
        
        <a class="item" href="/article">Article</a>
        <a class="item" href="/about.html">About</a>
        <a class="item" href="/cv.pdf">CV</a>
    </div>
</div>
