<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            Takeshi's Blog
        </a>

        <a class="item" href="/article">Article</a>
        <a class="item" href="/about.html">About</a>
        <a class="item" href="/cv.pdf">CV</a>
    </div>
</div>

