<div class="ui container raised segment" style="min-height: 450px;">
    <h1>About me</h1>
    <p>Hi, </p>


    <p>My name is Tseng Yi(a.k.a Takeshi)</p>
    <p>I am a master student from 
        <a href="https://www.facebook.com/w2cnlab">Taiwan National Chiao Tung University W2CN Lab</a>
    </p>
    

    <p>Topics of this blog:</p>

    <ul>
        <li>Software Defined Network</li>
        <li>ryu developement</li>
        <li>ryu application development</li>
        <li>Making dessert</li>
    </ul>
    
    <p>Contact me:</p>
    <a href="https://github.com/TakeshiTseng">github</a>

</div>
