
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui text container">
            <h1 class="ui inverted header" style="margin-top: 100px;">
                Takeshi's Blog
            </h1>
            <h2>Just another student from computer science.<p></p>
                <a href="/article/" class="ui huge primary button">
                    See my articles!
                </a>
            </h2>
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">這邊有什麼東西好看的？</h3>
                    <p>原則上除了目前我所研究的領域之外，還包含了需多日常以及好玩的東西。</p>
                    <p>下面列舉一些我可能會比較常寫的東西：</p>
                    <ul>
                        <li>SDN 技術</li>
                        <li>Ryu 開發研究</li>
                        <li>實驗室日常</li>
                        <li>不知道哪裡撿（買）來的玩具</li>
                        <li>自製甜點、料理心得等等</li>
                    </ul>
                    
                    <h3 class="ui header">我是誰？</h3>
                    <p>請查看上方的 About 連結。</p>
                </div>
                <div class="six wide right floated column">
                    <img src="/images/pumpkin_pie.jpg" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>

</div>