<div class="hero-unit">
<!--    <h1>Hi!</h1>-->
    <h1>Takeshi's blog</h1>
    <h3>Just another computer science student, love coding, playing and cooking!</h3>
    <strong><a href="about.html">About me</a></strong>
</div>

